.login_div1 , .login_div2
	{
		background: white;
		float: none;
		border-radius: 50px;
	}


h1{
    font-family: zapf-chancery;
    font-weight: bold;
	font-size: 50PX;
	color:white;
    
}


h3{
	font-family: star-wars;
}
